.SearchBox  form{
    margin: 25px;
    text-align: center;
    /* border-left: 100px;
    height: "100vh";
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: "center";
   background-color: "#f5f5f5"; */

}

/* .SearchBox form{
    display: flex;
    justify-content: center;
    gap: 0.3 rem;
} */

.error-text{
    width: 100%;   
  text-align: center;
  color: red;
  margin-top: 4px;
  margin-bottom:0px;

}